APP_ENV=local
APP_URL=http://localhost:8080
APP_DEBUG=false

DB_HOST=db
DB_PORT=3306
DB_NAME=medisoft_hoteles
DB_USER=medisoft_user
DB_PASS=change_me
DB_ROOT_PASS=change_me

WHATSAPP_ID_INSTANCE=
WHATSAPP_API_TOKEN=
WHATSAPP_DESTINATION=
WHATSAPP_API_HOST=https://api.green-api.com
WHATSAPP_SEND_ENABLED=false

APP_WHATSAPP_ID_INSTANCE=
APP_WHATSAPP_API_TOKEN=
APP_WHATSAPP_DESTINATION=
APP_WHATSAPP_API_HOST=https://api.green-api.com
APP_WHATSAPP_SEND_ENABLED=false

APP_PORT=8080
MYSQL_EXTERNAL_PORT=3307
PHPMYADMIN_PORT=8081
